:root {
    --primary-color: #1a2a33;
    --accent-color: #1f3641;

    --shadow-cell-inset: #10212a;
    --color-o-dark: #cc8b13;
    --color-x-dark: #218883;

    --color-o: #F2B137;
    --color-x: #31C3BD;

    --gray: #6b8997;
    --light-gray: #a8bfc9;

    font-weight: 700;
    font-family: outfit, sans-serif;
}

html, body {
    height: 100%;
}

.page {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
}

.svg-icons {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.game_large {
    width: 97%;
}

.game-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: min(60vmin, 60vw);
    overflow: hidden;
}

.game-field_large {
    gap: 0;
    width: 100%;
}

.game-field__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--accent-color);
    border-radius: 15px;
    box-shadow: inset 0 -8px 0 var(--shadow-cell-inset);
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

.game-field__cell_large {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--shadow-cell-inset);
    box-shadow: none;
}

.game-field__cell_active {
    transform: translateY(4px);
    box-shadow: inset 0 -4px 0 var(--shadow-cell-inset);
}

.game-field__cell_active-o {
    color: var(--color-o);
}

.game-field__cell_active-x {
    color: var(--color-x);
}

.game-field__cell_winner-o {
    background-color: var(--color-o);
    box-shadow: inset 0 -4px 0 var(--color-o-dark);
    color: var(--primary-color);
}

.game-field__cell_winner-x {
    background-color: var(--color-x);
    box-shadow: inset 0 -4px 0 var(--color-x-dark);
    color: var(--primary-color);
}

.icon {
    width: 1rem;
    height: 1rem;
}

.game-info__logo-icon-x {
    width: 1.7rem;
    height: 1.7rem;
    color: var(--color-x);
}

.game-info__logo-icon-o {
    width: 1.7rem;
    height: 1.7rem;
    color: var(--color-o);
}

.game-info__status-player-icon {
    width: 1em;
    height: 1em;
}

.game-info__status {
    padding: 0.75em 1.5em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
}

.game-info__status_turn-x {
    background-color: var(--color-x);
    box-shadow: inset 0 -4px 0 var(--color-x-dark);
}

.game-info__status_turn-o {
    background-color: var(--color-o);
    box-shadow: inset 0 -4px 0 var(--color-o-dark);
}

.game-info__status_draw {
    background-color: var(--light-gray);
    box-shadow: inset 0 -4px 0 var(--gray);
}

.game-score {
    width: 100%;
}

.game-score__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.game-score__list:hover {
    cursor: pointer;
    filter: grayscale(100%) brightness(0.8);
}

.game-score__item {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0.5rem;
    border-radius: 10px;
    flex: 1;
}

.game-score__item_x {
    color: var(--primary-color);
    background-color: var(--color-x);
    box-shadow: inset 0 -4px 0 var(--color-x-dark);
}

.game-score__item_o {
    color: var(--primary-color);
    background-color: var(--color-o);
    box-shadow: inset 0 -4px 0 var(--color-o-dark);
}

.game-score__item_draw {
    color: var(--primary-color);
    background-color: var(--light-gray);
    box-shadow: inset 0 -4px 0 var(--gray);
}

.game-score__player-icon {
    width: 2.5rem;
    height: 2.5rem;
    flex-shrink: 0;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9em;
    cursor: pointer;
    background-color: var(--light-gray);
    color: var(--primary-color);
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 -4px 0 var(--gray);
    transition: background-color 0.3s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

.button:active {
    transform: translateY(2px);
    box-shadow: inset 0 -2px 0 var(--gray);
}

.button_reset {
    width: 73px;
}

.button:hover {
    filter: brightness(1.2);
}

.game__control-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.game__control-modal-content {
    border-radius: 10px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    background-color: var(--primary-color);
    padding: 50px;
}

.game__control-modal_active {
    opacity: 1;
    pointer-events: all;
}

.game__control__field-size-input {
    width: 70%;
    height: 2.4rem;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
    box-shadow: inset 0 -4px 0 var(--gray);
}

.game__control__combo-to-win-input {
    width: 70%;
    height: 2.4rem;
    border-radius: 8px;
    border: none;
    padding-left: 20px;
    box-shadow: inset 0 -4px 0 var(--gray);
}

.button_apply-combo-to-win {
    width: 30%;
}

.button_apply-field-size {
    width: 30%;
}

.button__text {
    font-weight: 900;
}

.game__control-field-size, .game__control-combo-to-win {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.button_settings {
    width: 100%;
}

@media (max-width: 650px) {
    .game-field {
        width: 90vmin;
    }

    .game-score__player-icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}